@mixin before_circle {
    &:before {
        content: "";
    position: relative;
    z-index: -1;
    transform: translateY(-8px);
    left: 5%;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background: $light-blue;
    }
}

@mixin before_underline {
    
}