@media (min-width:320px) and (max-width:575px) {
    .faq {
        min-height: unset;
        &__question {
            font-size: 18px;
            line-height: 20px;

            summary {
                font-size: 20px;
                line-height: 22px;
            }
        }
    }
}