@media (min-width:768px) and (max-width:991px) {
    .header {
        padding: 10px 0px;
        max-height: 100vh;
        min-height: unset;
        &__menu {
            margin-top: 24px;
            padding: 0 50px;

            &_logo {
                img {
                    max-height: 48px;
                }
            }

            ul {
                li {
                    a {
                        font-size: 16px;
                    }
                }
            }
        }

        .cards {
            padding: 0px 30px;
            margin-top: 20%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;

            .card {
                &__text {
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }
    }
}