.scheme{
    min-height: 100vh;
    margin-top: 250px;
    display: block;
    h2{
        text-align: center;
        padding: 0 130px;
        padding-top: 24px;
    }

    &_img{
        padding-top: 20px;
        height: calc(100vh - 170px);
        width: auto;
        display: block;
        margin: 0 auto;
    }
}