@media (max-width:1200px) and (min-width:992px) {
    .whatDoing .items .item__wrapper_text {
        font-size: 20px;
        line-height: 22px;
    }

    .whatDoing{
        height: unset;
        max-height: 100vh;
    }
}